@charset "UTF-8";

.centered {
	text-align: center;
}

.centeredImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

body {
    font-family: 'JetBrains Mono', monospace; 
}